<!DOCTYPE html>

<html>
    <head>

    <title>View Data</title>

    <link rel="stylesheet" href="/client/css/view-data.css">
    <link rel="stylesheet" href="/client/css/menu-styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/client/js/config.js" async></script>
    <script src="/client/js/view-data.js" async></script>
    
    </head>

    <body>
        <main>
            <section class="navbar">

                <div class="header">NICK's VIDEO GAME DATABASE</div>
                <div class="link-container">
                    <a class="link" href="/home">Home</a>
                    <a class="link" href="/write-data">Enter Data</a>
                    <a class="link" href="/view-data">View Data</a>
                    <a class="link" href="/browse-data">Browse Data</a>
                </div>

            </section>
            <section class="main-body" data-ng-app="viewTableApp" data-ng-controller="viewTableCtrl">
                
                <label for="groupBy">Rating</label>
                <select id="groupBy" dat-ng-model="selectedRating"
                data-ng-options="rating.display for rating in ratings" data-ng-change="redrawTable()"></select>
                
                <div class="table-container">
                    <table id="dataTable">
                        <tr>
                            <th>Game Name</th>
                            <th>Year Released</th>
                            <th>Number of Players</th>
                            <th>Platform</th>
                            <th>Rating</th>
                            <th></th>
                        </tr>
                        <tr data-ng-repeat="obj in games">
                            <td>{{obj.gameName}}</td>
                            <td>{{obj.yearReleased}}</td>
                            <td>{{obj.numberPlayers}}</td>
                            <td>{{obj.gamePlatform}}</td>
                            <td>{{obj.rating}}</td>
                            <td>
                                <button data-ng-click="deleteData(obj._id)">Delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
                
            </section>



        </main>
    </body>
</html>