.table-container
{
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    justify-content: center;
    /* text-align: center; */
    margin: auto;
    overflow: auto;
}

table
{
    border: 5px solid white;
    border-radius: 20px;
    background-color: black;
    width: 65%;
}

tr:not(:last-of-type) > td
{
    border-bottom: 2px solid white;
}

td:not(:last-of-type)
{
    border-right: 2px solid white;
}


br
{
    border: 2px solid white;
}


table, tr, th, td
{
    font-size: larger;
    color: aliceblue;
    text-align: center;
    
    padding: 2px 5px;
    margin: 5px;
    /* border: 2px solid green; */
}

th
{
    margin: 100px;

    border-bottom: 2px solid white;
    /* border: 2px solid white; */
}

#selectBox
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 50%;
}

#selectBox > *
{
    float: left;
}

#updateForm
{
    font-size: 30px;

    text-align: center;
    margin: 20px auto;
    width: fit-content;
    padding: 0px 20px;
    overflow: auto;

    background-color: black;
    color: white;

    border: 5px solid white;
    border-radius: 20px;
}
#updateForm > * > *
{
    font-size: larger;

    padding-top: 10px;
    overflow: auto;
}

#updateButtons
{
    padding: 5px;
    overflow: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    
}

input
{
    font-size: large;
}


