h1 {
    font-size: 30px;
}
.text {
    background-color: white;
    font-size: large;
    color: #003099;
    width: 50%;

    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 30px 20px 30px;
    position: relative;
    top: 50px;

/*I don't really know and can't really tell if
using the background image as the "color" makes a noticable difference.
I was trying to make it gradient perfectly, and it looks good to me.*/
    border: 2px solid url(../images/backgroundv2.png);
    border-radius: 10px;

    
}